---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1
        class="cursor-default hover:text-skin-accent hover:underline hover:decoration-double"
      >
        Welcome!
      </h1>
      <p class="hello">
        Hello! This is my blog where I write about the things I do, like or
        think about.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Find me on:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    <section class="mt-6 mb-12">
      <h1 class="text-lg font-semibold">
        Here are some of the things I enjoy:
      </h1>
      <br />
      <ul>
        <li>
          <strong>Computers:</strong>
           I'm a developer by profession and passion. I currently work as a
          full-stack developer and study as a M.Sc student in Artificial
          Intelligence. You can find me on
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://www.linkedin.com/in/adel-bordbari/"
          >
            LinkedIn
          </LinkButton>
           or
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://stackoverflow.com/users/7958330/nitwit"
          >
            StackOverflow
          </LinkButton>.<br /> My current stack includes FastAPI, Django, React
          and several more. I'm also currently working on a <i>USV/ASV</i>
           (unmanned/autonomous surface vehicle) project. I spend many hours per
          day writing and tweaking code.
        </li>
        <br />

        <li>
          <strong>Music:</strong>
           I listen to music a lot. You can check out my playlist
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://t.me/chemidunambaba"
          >
            here
          </LinkButton> or follow me on
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://www.last.fm/user/thenitwit"
          >
            last.fm
          </LinkButton>
           and
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://open.spotify.com/user/snhhslm7730g4xp9rg4lwbi9r"
          >
            Spotify
          </LinkButton>. I also play guitar and make music. You can hear my work
          on my
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://soundcloud.com/thenitwit"
          >
            SoundCloud
          </LinkButton>. <br /> I'm fond of looking into song facts and
          meanings, you can follow me on
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://genius.com/Nitwit"
          >
            Genius
          </LinkButton> too.
        </li>
        <br />

        <li>
          <strong>Photography:</strong>
           Shooting photos been a hobby of mine since 2015. I particularly enjoy
          film photography, architecture, street photography and portraits. You
          can see my photos on my
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://www.instagram.com/adel_bordbari"
          >
            Instagram
          </LinkButton>.
        </li>
        <br />

        <li>
          <strong>Stories:</strong> I love reading and learning about stories
          -specially short ones, I particularly enjoy reading <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://en.wikipedia.org/wiki/Shahriar_Mandanipour"
          >
            Mandanipour
          </LinkButton>,
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://en.wikipedia.org/wiki/Sadegh_Hedayat"
          >
            Hedayat
          </LinkButton>, <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://en.wikipedia.org/wiki/Mostafa_Mastoor"
          >
            Mastoor
          </LinkButton> and Dostoevsky. I'm planning to publish my first
          collection by the end of this year.
        </li>
        <br />

        <li>
          <strong>Philosophy:</strong> I like reading about existentialism,
          stoicism, aesthetics and history of philosophy. I enjoy learning about
          Nietzsche, Camus, Seneca and Spinoza.
        </li>
        <br />

        <li>
          <strong>Films:</strong> I'm interested in cinema and I watch a lot of
          movies. You can follow me on
          <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://letterboxd.com/adel_bordbari/"
          >
            letterboxd
          </LinkButton>
        </li>
        <br />

        <li>
          <strong>Geography:</strong>
           I like maps, flags, urban planning, and geopolitics. On my first days
          on the internet (using a dial-up model and a CRT monitor) I discovered
          Google Earth and later Google Maps. I used to zoom in and out enitre
          evenings.
        </li>
      </ul>
    </section>

    <Hr />
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
